<div>

<%= form_tag "/delCustomer/#{@frs.id}", method: "patch" do %>
    <label> First Name<label><input type="text" name="First_Name" value="<%= @frs.first_name %>"/> <br>
    <label> Last Name<label><input type="text" name="Last_Name" value="<%= @frs.last_name %>"/> <br>
    <label> Email <label><input type="text" name="Email" value="<%= @frs.email %>"/> <br>
    <label> Address <label><input type="text" name="Address" value="<%= @frs.adresse %>"/> <br>
    <input type="submit" value="Supprimer"/>
<% end %>

</div>